body{
  margin: 0px;
}

.main {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: gold;
  width: 30vw;
  height: 100vh;
  float: left;
}

.sidebar-item{
  height: 33vh;
  line-height: 33vh;
  text-align: center;
}

.sidebar-item:hover{
  border: 3px dashed tomato;
}

.view {
  background-color: lightblue;
  width: 70vw;
  height: 100vh;
  float: left;
  line-height: 100vh;
  text-align: center;
}